<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="pull-right" role="group">
                    <button *ngIf="isAdminUser" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate Certificate"
                        data-placement="top" (click)="createCertificate()">
                        <i class="mdi mdi-key"></i> Generate Cert</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip"
                        title="Edit Device"
                        data-placement="top" (click)="showEditForm()">
                        <i class="mdi mdi-pencil"></i> Edit</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Deploy"
                        data-placement="top" (click)="deploy()">
                        <i class="mdi mdi-move-resize-variant"></i> Deploy</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Refresh"
                        (click)="refreshData()">
                        <i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <form class="form-horizontal" role="form" *ngIf="device">
                    <div class="form-body">
                        <div class="box-title row">
                            <div class="col-md-12">
                                <h3>{{device.name}}</h3>
                            </div>
                        </div>
                        <!-- <hr class="m-t-0 m-b-40"> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right ">Thing Name:</label>
                                    <div class="col-md-8 truncate">
                                        <p class="form-control-static">{{device.thingName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right">Status:</label>
                                    <div class="col-md-8 truncate">
                                        <p class="form-control-static">
                                            <span>{{device.connectionState.state}} </span>
                                            <!-- [class]="device.stage === 'deployed' ? 'label label-light-success-alt m-r-10' : (device.stage === 'provisioned' ? 'label label-light-warning m-r-10' : 'label label-light-danger m-r-10')" -->
                                            <span class="small"> ({{device.connectionState.at | moment:"MMM Do YYYY
                                                HH:mm"}})</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right ">Device Type:</label>
                                    <div class="col-md-8 truncate">
                                        <p class="form-control-static" *ngIf="device.deviceTypeId !== 'UNKNOWN'">
                                            <a routerLink="../../device-types/{{device.deviceTypeId}}">{{device.deviceTypeId
                                                | deviceTypeNameFromId}}
                                                <i class="mdi mdi-link-variant"></i>
                                            </a>
                                        </p>
                                        <p class="form-control-static" *ngIf="device.deviceTypeId === 'UNKNOWN'">{{device.deviceTypeId}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right">Created:</label>
                                    <div class="col-md-8 truncate">
                                        <p class="form-control-static">{{device.createdAt | moment:"MMM Do YYYY
                                            HH:mm"}} </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right ">Device Blueprint:</label>
                                    <div class="col-md-8 truncate">
                                        <p *ngIf="device.deviceBlueprintId !== 'UNKNOWN'" class="form-control-static">
                                            <a routerLink="../../device-blueprints/{{device.deviceBlueprintId}}">{{device.deviceBlueprintId
                                                | deviceBlueprintNameFromId}}
                                                <i class="mdi mdi-link-variant"></i>
                                            </a>
                                        </p>
                                        <p class="form-control-static" *ngIf="device.deviceBlueprintId === 'UNKNOWN'">{{device.deviceBlueprintId}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right">Updated:</label>
                                    <div class="col-md-8 truncate">
                                        <p class="form-control-static">{{device.updatedAt | moment:"MMM Do YYYY
                                            HH:mm"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-4 control-label text-right">Cert:</label>
                                    <div class="col-md-8 truncate">{{device.certificateArn | certIdFromArn}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-child-view [data]="device" type="device"></app-child-view>
    </div>
</div>

<!-- .modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Edit device</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="deviceForEdit">
                <form name="attributeForm" #f="ngForm" class="form-control-line" (ngSubmit)="submitEditDevice(f.value)"
                    novalidate>
                    <div [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-group has-danger' :'form-group has-success-alt') : 'form-group'">
                        <label for="name" class="form-control-label">Preferred device name:</label>
                        <input type="text" [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'"
                            name="name" id="name" #name="ngModel" [(ngModel)]="deviceForEdit.name" required ngModel>
                        <div *ngIf="!((name.invalid && (name.dirty || name.touched)) && name.errors)" class="form-control-feedback">
                            <small>Easy to remember name for your device.
                                <br />(Not the thingName: {{deviceForEdit.thingName}})</small>
                        </div>
                        <div *ngIf="(name.invalid && (name.dirty || name.touched)) && name.errors" class="form-control-feedback">
                            <small>Name of device is required.</small>
                        </div>
                    </div>
                    <div class="form-group" style="overflow: inherit;">
                        <label for="type" class="form-control-label">Device type:</label>
                        <select class="custom-select col-12" name="deviceTypeId" id="deviceTypeId" #type="ngModel"
                            [(ngModel)]="deviceForEdit.deviceTypeId" required ngModel (change)="deviceTypeChanged($event.target.value)">
                            <option value="UNKNOWN" ng-selected="deviceForEdit.deviceTypeId === 'UNKNOWN'">UNKNOWN</option>
                            <option *ngFor="let item of deviceTypeService.deviceTypes; let i = index" value="{{item.id}}"
                                ng-selected="deviceForEdit.deviceTypeId === item.id">{{item.name}}</option>
                        </select>
                        <div class="form-control-feedback">
                            <small>Device type for the device.</small>
                        </div>
                        <label for="type" class="form-control-label">Device Blueprint:</label>
                        <select class="custom-select col-12" name="deviceBlueprintId" id="deviceBlueprintId" #type="ngModel"
                            [(ngModel)]="deviceForEdit.deviceBlueprintId" required ngModel>
                            <option value="UNKNOWN" ng-selected="deviceForEdit.deviceBlueprintId === 'UNKNOWN'">UNKNOWN</option>
                            <option *ngFor="let item of deviceBlueprintsForEdit; let i = index" value="{{item.id}}"
                                ng-selected="deviceForEdit.deviceBlueprintId === item.id">{{item.name}}</option>
                        </select>
                        <div class="form-control-feedback">
                            <small>Device Blueprint for the device.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="form-control-label">Spec:</label>
                        <app-pretty-json name="spec" [(ngModel)]="deviceForEdit.spec" [rows]="10"></app-pretty-json>
                        <div class="form-control-feedback">
                            <small>JSON document to use for the custom device type.</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="deleteDevice(device)">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- .modal -->
<!-- <div class="row"> -->
<!-- <div class="col-lg-12"> -->
<template #deviceTypeTemplate></template>
<!-- </div> -->
<!-- </div> -->
<!-- Row -->
