//aws-proto-191433347007.d.codeartifact.us-west-2.amazonaws.com/npm/aws-proto-reuse/:always-auth=true

@deathstar:registry=https://aws-proto-191433347007.d.codeartifact.us-west-2.amazonaws.com/npm/aws-proto-reuse/
