//aws-proto-191433347007.d.codeartifact.us-west-2.amazonaws.com/npm/deathstar/:always-auth=true

@deathstar:registry=https://aws-proto-191433347007.d.codeartifact.us-west-2.amazonaws.com/npm/deathstar/
