ui-js/underscore.min.js
ui-js/jquery.min.js
ui-js/jquery.slimscroll.min.js
ui-js/jquery.blockUI.js
ui-js/popper.min.js
ui-js/bootstrap.min.js
css/bootstrap.min.css
ui-js/waves.min.js
ui-js/gauge.min.js
ui-js/sticky-kit.min.js

ui-js/Chart.min.js
ui-js/chartjs-plugin-annotation.min.js
ui-js/chartjs-plugin-draggable.min.js

ui-js/owl.carousel.min.js
css/owl.carousel.min.css

css/font-awesome.min.css

fonts
fonts/*
