# *.js
!jest.config.js
# *.d.ts
node_modules

!**/lambda/**/*.js
out

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

# avoid to ignore Lambda functions writte in js inside constructs
!lib/construct/**/lambda/*.js
!dev/**
