# Nested relative dependencies in these packages (file:../usage-metrics/)
# This breaks subsequent installs with package-lock as it can't resovle relative files in other dependencies
package-lock=false
