<header class="login-page-header d-flex">
  <div class="mr-auto">
    <a href="" class="d-flex align-items-center">
      <img src="../assets/img/aws_smile.png" height="25px;" />
      <h5 class="text-white m-0" style="margin-left: 5px !important; margin-top: -10px !important;">{{appName}} {{version}}</h5>
    </a>
  </div>
</header>
<div class="login-page-wrap">
  <div class="side first-side">
    <div class="side-content text-center">
      <i class="mdi mdi-lock-pattern" style="font-size:200px;"></i>
      <div class="">
          <div class="item" style="margin-bottom: 50px;">
              <h1 class="mb-3 text-white">Sputnik Console</h1>
              <p>Create, monitor, and manage your devices with a few simple clicks.</p>
          </div>
          <div class="item">
              <h3 class="mb-3 text-white">Create and Deploy business outcomes</h3>
              <p>Your business outcomes are defined in blueprints. Create blueprints, effectively, firmware for your devices, and one-click deploy those blueprints to compatible devices. Leverage pre-packaged device types or create your own.</p>
          </div>
          <div class="item">
              <h3 class="mb-3 text-white">Visualize Real-time Data </h3>
              <p>Create custom views for your device types and blueprints and visualize your data live.
              </p>
          </div>
      </div>
      <!-- /#login-page-slider -->
    </div>
  </div>
  <!-- /.first-side -->
  <div class="side second-side">
    <div class="side-content">
      <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div id="signin-form-wrap" class="form-wrap show">
        <h4 class="my-5 text-uppercase" style="font-weight:300; color:#fff;">Sign In to your account</h4>
        <form id="signin-form" class="form" action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your email" name="email" [(ngModel)]="email" ngModel [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Your password" name="password" [(ngModel)]="password" ngModel [ngModelOptions]="{standalone: true}">
          </div>
          <input (click)="onLogin()" type="submit" class="btn btn-outline-success py-2 mt-5" style="width: 200px" value="Sign in">
          <p class="text-white mt-4" style="font-size:1rem; font-weight:200;">Forgot your account?
            <a [routerLink]="['/home/forgotPassword']" class="text-white">Reset Password</a>
          </p>
        </form>
      </div>
      <!-- /#signin-form-wrap -->
    </div>
    <!-- /.side-content -->
  </div>
  <!-- /.second-side -->
</div>
