<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-md-8 col-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Benefits and Features</h2>
                <div class="row">
                    <div class="col-md-6 col-6 b-r">
                        <h5>Get started with a few clicks</h5>
                        <p>
                            Start connecting and monitoring your trucks, boats, factories with just a few clicks. No need to worry about what is happening under the hood.
                        </p>
                    </div>
                    <div class="col-md-6 col-6">
                        <h5>Easy to use interface</h5>
                        <p>
                            Provides the ability to easily launch IoT Systems from a variety of
                            templates you define all within the comforts of a web-based GUI.
                        </p>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-6 col-6 b-r">
                        <h5>Monitor and observe</h5>
                        <p>
                            Once your devices have connected and have started sending data, you can monitor individual devices from the
                            console or view them as part of systems or groups.
                        </p>
                    </div>
                    <div class="col-md-6 col-6">
                        <h5>Use it out-of-the-box or customize it</h5>
                        <p>
                            <strong>Open-Source</strong>, you can use out of the box. Deploy a new stack and customize the code to meet
                            your specific business requirements.
                            Even better, contribute to the community by adding templates to the git repository.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Documentation</h2>
                <p><a href="https://github.com/aws-samples/aws-iot-kickstart">GitHub Repository</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-md-8 col-8">
        <!-- <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Getting Started</h2>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <img src="assets/img/iot-ds.png" width="100%" />
                        <div style="position: absolute; top: 75px; left: 230px; font-size: 25px;"><strong style="color: red;">Need to change this</strong></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
